// HTML Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: $color-background;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  color: $color-white;
}
