// Color Variables
$color-background: #575757;
$color-background-light: #f6fcff;

$color-primary-light: #00a9ed;
$color-primary: #005d82;
$color-primary-dark: #013c54;

$color-white: darken(white, 5);
